.image-placeholder img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.no-image-available {
  background-color: #f0f0f0;
  border-radius: 8px;
}

.card {
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.03);
}
